/* Global css */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --primary-color: #1D9F42;
    --secondary-color: #272727;
    --tertiary-color: #FDC648;
    --white-color: #fff;
    --black-color: #000;
    --font-primary: 'Rubik', sans-serif;
    --font-secondary: 'Inter', sans-serif;
}

body {
    overflow-x: hidden;
    font-family: var(--font-secondary) !important;
    color: var(--secondary-color) !important;
}

.container {
    max-width: 1380px !important;
}

a {
    text-decoration: none !important;
}

.primary-color {
    color: var(--primary-color) !important;
}

.secondary-color {
    color: var(--secondary-color) !important;
}

.bg-color-primary {
    background-color: var(--primary-color) !important;
}

.bg-color-secondary {
    background-color: var(--secondary-color) !important;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-family: var(--font-primary);
}

h1,
.h1 {
    font-size: clamp(32px, 3.50vw, 66px) !important;
}

h2,
.h2 {
    font-size: clamp(28px, 3.29vw, 56px) !important;
}

h3,
.h3 {
    font-size: clamp(28px, 2.47vw, 42px) !important;
}

h4,
.h4 {
    font-size: clamp(20px, 1.6vw, 28px) !important;
}

h5,
.h5 {
    font-size: clamp(19px, 1.4vw, 24px) !important;
}

h6,
.h6 {
    font-size: clamp(17px, 1.18vw, 20px) !important;
}

p,
.p {
    font-size: clamp(16px, 1.05vw, 18px) !important;
    line-height: clamp(28px, 2vw, 34px) !important;
}

.p-xxl {
    font-size: clamp(18px, 1.18vw, 22px) !important;
    line-height: clamp(38px, 2.12vw, 40px) !important;
}

.p-xl {
    font-size: clamp(17px, 1.18vw, 20px) !important;
    line-height: clamp(30px, 2.12vw, 36px) !important;
}

.p-md {
    font-size: clamp(14px, 0.94vw, 16px) !important;
    line-height: clamp(28px, 2vw, 34px) !important;
}

.htext {
    color: var(--primary-color);
}

.px-6 {
    padding-right: 5.7%;
    padding-left: 5.7%;
}

.hover-text-white {
    color: var(--white-color) !important;
}

.hover-background-white:hover {
    background-color: var(--white-color) !important;
}

.cbtn {
    font-size: clamp(14px, 1.05vw, 18px) !important;
    background-color: var(--primary-color);
    color: #fff;
    padding: 14px 35px;
    border-radius: 50px;
    text-align: center;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    border: 1px solid var(--primary-color);
    transition: 300ms ease all;
}

.cbtn:hover {
    background-color: transparent;
    color: var(--secondary-color);
}

.width-fit-content {
    width: fit-content !important;
}

/* Header Section*/
.sticky-header {
    position: relative;
    top: 0;
    z-index: 9999;
    margin-bottom: -200px;
}

.top-header .left-info a,
.top-header .right-info a {
    transition: 300ms ease all;
}

.top-header .left-info a:hover,
.top-header .right-info a:hover {
    color: #2bb24c !important;
}

.navbar .navbar-toggler:focus-visible,
.navbar .navbar-toggler:focus {
    box-shadow: none !important;
}

.main-header .sitelogo {
    width: 120px;
}

.navbar .navbar-nav .nav-link {
    position: relative;
    transition: 300ms ease all;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--primary-color) !important;
}

.navbar .navbar-nav .nav-link::before {
    content: '' !important;
    height: 2px;
    width: 0%;
    background-color: #fff;
    position: absolute;
    top: auto;
    bottom: 5px;
    right: 0;
    left: auto;
    margin: auto;
    transition: 400ms ease-in-out all;
}

.navbar .navbar-nav .nav-link:hover::before {
    background-color: var(--primary-color);
    right: auto;
    left: 0;
    width: 100%;
}

/* Footer Section*/
.footer {
    background-color: --var(--white-color);
    background-image: url(../img/Footer\ layer.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.footer a {
    color: var(--secondary-color) !important;
}

.footer a:hover {
    color: var(--primary-color) !important;
}

.footer ul li:nth-last-child(1) p {
    margin: 0 !important;
}

.socialbox i {
    background-color: var(--primary-color);
    height: 30px;
    width: 30px;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    transition: 300ms ease all;
}

.socialbox i:hover {
    background-color: var(--white-color);
    border-color: var(--secondary-color);
    color: var(--secondary-color);
}

.socialbox {
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
}

.footer .row:has(.socialbox)::before {
    content: '' !important;
    background-color: #272727;
    opacity: 50%;
    height: 1px;
    width: 40%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: auto;
    margin: auto;
}

.footer .row:has(.socialbox)::after {
    content: '' !important;
    background-color: #272727;
    opacity: 50%;
    height: 1px;
    width: 40%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: auto;
    margin: auto;
}

.newsletter .row {
    max-width: 1080px;
    margin: auto;
}

.newsletter-form .cbtn {
    border-radius: 50px !important;
    width: 180px;
    margin-left: -25px !important;
    z-index: 2;
}

.newsletter-form input {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid rgb(255 255 255 / 35%);
    border-radius: 0;
    margin: 0 !important;
    padding: 10px 50px 10px 10px !important;
    color: #fff;
    font-size: clamp(14px, 0.94vw, 16px) !important;
    line-height: clamp(28px, 2vw, 34px) !important;
}

.newsletter-form input::placeholder {
    opacity: 1 !important;
    color: #fff;
}

.newsletter-form input:focus-visible {
    outline: 0 !important;
    border-color: var(--primary-color) !important;
}

.newsletter-form input:focus {
    background-color: transparent !important;
    box-shadow: none !important;
}

/* Banner Section */
.page-hero-banner {
    background-color: var(--black-color);
    background-image: url(../img/banner-hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: calc(100vh + 30px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 85% 100%, 15% 100%, 0 90%);
    margin-bottom: -100px;
    position: relative;
    z-index: 1;
}

.page-hero-banner::before {
    content: '' !important;
    position: absolute;
    inset: 0;
    z-index: 1;
    pointer-events: none;
    background: linear-gradient(90deg,
            rgba(0, 0, 0, 0.75) 0%,
            rgba(0, 0, 0, 0.65) 20%,
            rgba(0, 0, 0, 0.45) 40%,
            rgba(0, 0, 0, 0.15) 55%,
            rgba(0, 0, 0, 0) 100%);
    z-index: -1;
}

.page-hero-banner .banner-content {
    width: 60%;
}

/* Page Title Section */
.page-hero {
    background-color: var(--black-color);
    background-image: url(../img/wcs-breadcrumb-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 85% 100%, 15% 100%, 0 90%);
    margin-bottom: -70px;
    position: relative;
}

.page-hero::before {
    content: '' !important;
    background-color: #000;
    opacity: 65%;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: -1;
}


/* Home .iconbox Section */
.h-iconbox {
    background-image: url(../img/feature-bg.png);
    position: relative;
}

.h-iconbox::before {
    content: '' !important;
    background-color: #fff;
    height: 50px;
    width: 100%;
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    clip-path: polygon(15% 0, 85% 0, 100% 100%, 0% 100%);
}

.h-iconbox .iconbox {
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 14px #00000024;
    position: relative;
    overflow: hidden;
    height: 100%;
    transition: 300ms ease all;
}

.h-iconbox .iconbox:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 14px #00000041;
}

.h-iconbox .iconbox .iconimgbox {
    width: 25%;
    position: relative;
}

.h-iconbox .iconbox p {
    width: 75%;
    line-height: clamp(22px, 2vw, 26px) !important;
    font-weight: 500;
}

.h-iconbox .iconbox::before {
    content: '' !important;
    background-image: url(../img/iconbox-shape.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 90%;
    width: 45px;
    position: absolute;
    left: auto;
    right: -15px;
    top: 0;
    bottom: auto;
    transition: 200ms ease all;
}

.h-iconbox .iconbox .iconimgbox::before {
    content: '' !important;
    background-color: #C8C8C8;
    height: calc(100% + 16px);
    width: 1px;
    position: absolute;
    left: auto;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    transition: 200ms ease all;
}

.h-iconbox .iconbox:hover .iconimgbox::before {
    background-color: #888;
}


/* How Solarsaver Works */
.h-work img.workimg {
    border-radius: 0 20px 120px 0;
    object-fit: cover;
}

.h-work .stepboxes .stepbox {
    background-color: rgb(29 159 66 / 5%);
    border-radius: 12px;
    border: 1px solid #ffffff00;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: 300ms ease all;
}

.h-work .stepboxes .stepbox:hover {
    border-color: var(--primary-color) !important;
}

.h-work .stepboxes .stepbox::before {
    content: "" !important;
    background-color: #C8C8C8;
    opacity: 40%;
    height: 90%;
    width: 12px;
    position: absolute;
    left: auto;
    right: -12px;
    top: 0;
    bottom: 0;
    margin: auto;
    clip-path: polygon(0 0, 0% 100%, 100% 50%);
    transition: 200ms ease all;
}

.h-work .stepboxes .stepbox:hover::before {
    background-color: var(--primary-color);
    opacity: 100%;
}

.h-work .stepboxes .col-md-4:nth-last-child(1) .stepbox::before {
    display: none;
}

.h-work .stepboxes .stepbox .num-box {
    color: var(--tertiary-color);
    margin-top: auto !important;
    opacity: 30%;
    font-size: clamp(30px, 3.88vw, 60px) !important;
}

.h-work .stepboxes .stepbox .stepicon {
    background-color: var(--white-color);
    width: fit-content;
    padding: 20px;
    box-shadow: 0 0 14px rgb(0 0 0 / 14%);
    border-radius: 8px;
    margin-top: -40px;
    transition: 200ms ease all;
}

.h-work .stepboxes .stepbox:hover .stepicon {
    background-color: var(--primary-color);
}

.h-work .stepboxes .stepbox:hover .stepicon img {
    filter: brightness(0) saturate(100%) invert(50%) sepia(45%) saturate(6915%) hue-rotate(117deg) brightness(96%) contrast(77%);
    transition: 400ms ease-in-out all;
}

.h-work .stepboxes .stepbox:hover .stepicon img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7491%) hue-rotate(305deg) brightness(108%) contrast(104%);
}


/* Why Choose Us Section */
.wcu .overlay-white {
    position: absolute;
    inset: 0;
    background: linear-gradient(to right, #ffffff 0%, transparent 50%);
}

.wcu .imgboxcol {
    background-image: url(../img/why-choose-us-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.wcu .checklist li {
    position: relative;
}

.wcu .checklist li::before {
    content: '' !important;
    background-image: url('../img/checked-icon.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 36px;
    width: 36px;
    position: absolute;
    left: -50px;
    right: auto;
    top: 0;
    bottom: auto;
    margin: auto;
}


/* HSW Section */
.hsw {
    background-color: var(--white-color);
    background-image: url(../img/hsw-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.hsw .img-bol img {
    border-radius: 120px 20px 20px;
    transition: 300ms ease all;
}

.hsw .img-bol img:hover {
    border-radius: 20px;
}

/* Use More Section */
.usemore {
    background-color: var(--white-color);
    background-image: url(../img/usemore-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.usemore .iconbox .iconimgbox {
    margin: auto;
    width: 100px;
    height: 100px;
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white-color);
    padding: 6px;
    margin-top: -50px;
}

.usemore .iconbox .iconimgbox img {
    background-color: var(--secondary-color);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: visible;
    padding: 18px;
    transition: 600ms ease-in-out all;
}

.usemore .iconbox:hover .iconimgbox img {
    transform: rotate(360deg);
}

.usemore .iconbox {
    background: linear-gradient(180deg, #F2FFF5 0%, #FFFFFF 100%);
    border: 2px solid #fff0;
    border-radius: 10px 10px 200px 200px;
    padding: 0 28px 90px 28px;
    box-shadow: 0px 2px 8px rgb(0 0 0 / 20%);
    height: 100%;
    margin: 0 20px;
    transition: 300ms ease-in all;
}

.usemore .iconbox:hover {
    border-color: var(--primary-color);
}

.usemore .box-col {
    margin-top: 70px !important;
    height: 450px;
}

.usemore .iconbox .boxlink {
    transition: 300ms ease all;
}

.usemore .iconbox .boxlink:hover {
    color: var(--primary-color) !important;
}

.usemore .iconbox .boxlink::before {
    content: '' !important;
    height: 2px;
    width: 100%;
    background-color: var(--secondary-color);
    position: absolute;
    top: auto;
    bottom: -5px;
    left: 0;
    right: 0px;
    margin: auto;
    z-index: 1;
}

.usemore .iconbox .boxlink::after {
    content: '' !important;
    height: 2px;
    width: 0;
    background-color: var(--primary-color);
    position: absolute;
    top: auto;
    bottom: -5px;
    left: 0;
    right: auto;
    margin: auto;
    z-index: 2;
    transition: 500ms width ease;
}

.usemore .iconbox .boxlink:hover::after {
    width: 100%;
    left: auto;
    right: 0;
}

/* Find Out Section */
.findout {
    background-color: var(--dark-color);
    background-image: url(../img/findout-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.findout .img-bol img {
    border: 3px solid #FDC648;
    border-radius: 20px;
    transition: 200ms ease all;
}

.findout .img-bol img:hover {
    border-color: #daa324;
}

/* Buy SolaSaver */
.buy-solar .imgbox img {
    border-radius: 18px;
}

.buy-solar .imgbox {
    background-color: #F4F8FA;
    border-radius: 40px;
    padding: 60px 60px 40px 60px;
}


/* System Compatibility Section */
.workhome .notebox {
    background-color: #F4F8FA;
    position: relative;
    overflow: hidden;
}

.workhome .notebox::before {
    content: '' !important;
    background-color: #1d9f42;
    height: 100%;
    width: 5px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0px;
    right: auto;
    margin: auto;
    z-index: 0;
}


/* Suitable for SolaSaver */
.suitable-sola {
    background-color: var(--white-color);
    background-image: url(../img/suitable-sola-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.suitable-sola .resultbox {
    border: 1px solid #FFD54F;
    padding: 20px;
    border-radius: 28px;
    box-shadow: 0 4px 14px 0 #00000024;
}

.suitable-sola .resultbox .innerbox {
    background-color: var(--white-color);
    background-image: url(../img/homeappear-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 8px;
    padding: 50px 300px 50px 60px;
}

.suitable-sola .resultbox .innerbox2 {
    padding: 50px 220px 20px 60px;
}


/* Australian Homes */
.aus-homes {
    background-color: var(--white-color);
    background-image: url(../img/aus-home-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.aus-homes .iconbox p{
    transition: 200ms ease all;
}

.aus-homes .iconbox:hover p{
    color: var(--secondary-color) !important;
}

.aus-homes img.aushomimg {
    border-radius: 20px 20px 120px 20px;
    border: 2px solid var(--tertiary-color);
}

.aus-homes .iconbox {
    border: 1px solid #fff;
    border-radius: 12px;
    transition: 300ms ease all;
}

.aus-homes .iconbox:hover {
    background-color: var(--white-color);
    border-color: var(--tertiary-color);
}

.aus-homes .iconbox .imgico {
    background-color: #fff;
    width: 70px;
    height: 70px;
    border-radius: 8px;
    padding: 12px;
    border: 1px solid #fff;
    transition: 200ms ease all;
}

.aus-homes .iconbox:hover .imgico {
    border-color: var(--primary-color);
}



/* Instal Form Section */
.instal-form .container {
    max-width: 1024px !important;
    margin-top: -55px;
    z-index: 1;
    position: relative;
    border-radius: 180px;
    padding: 37px 30px 22px 30px !important;
}

.instal-form form.installer-form input,
.instal-form form.installer-form select {
    border: 1px solid #A7A7A7;
    font-size: 18px;
    border-radius: 100px;
    padding: 14px 35px;
    color: var(--secondary-color);
}

.instal-form form.installer-form input:focus,
.instal-form form.installer-form select:focus {
    box-shadow: none !important;
}


/* FAQ Section */
.faq-sec .nav-tabs button {
    color: var(--secondary-color);
    font-weight: 700;
    border: 0;
    border-bottom: 3px solid #afafaf !important;
    background-color: var(--white-color);
    transition: 300ms ease all;
}

.faq-sec .nav-tabs button.active {
    background-color: var(--tertiary-color);
    border-color: var(--tertiary-color) !important;
    color: var(--white-color);
}

.faq-sec .custom-faq .accordion-item {
    background-color: #F4F8FA;
    border-radius: 10px;
    overflow: hidden;
    border: 0;
    padding: 0;
}

.faq-sec .custom-faq .accordion-item .accordion-header .accordion-button {
    padding: 30px 30px 30px 80px;
    background-color: transparent;
    box-shadow: none !important;
    color: #222;
    margin: 0;
    position: relative;
}

.faq-sec .custom-faq .accordion-item .accordion-header {
    position: relative;
}

.faq-sec .custom-faq .accordion-item .accordion-header i {
    position: absolute;
    top: 25px;
    left: 30px;
    color: #fff !important;
    background-color: var(--primary-color);
    padding: 4px;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border-radius: 10px;
}

.faq-sec .custom-faq .accordion-item:has(.show) .accordion-header .accordion-button {
    color: #274893;
}

.faq-sec .custom-faq .accordion-item .accordion-collapse .accordion-body {
    padding: 0 30px 10px 80px;
}

.faq-sec .custom-faq .accordion-item .accordion-header .accordion-button::after {
    content: "+" !important;
    background-image: none !important;
    background-color: var(--tertiary-color);
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    padding: 4px;
    font-size: 25px;
    border-radius: 4px;
}

.faq-sec .custom-faq .accordion-item:has(.show) .accordion-header .accordion-button::after {
    content: "-" !important;
}